<div class="panel panel-success">
    <div class="panel-body">
        Panel content
    </div>
    <div ng-if='user_signed_in' class="panel-footer">
      <p>ID: {{vm.user.id}}</p>
      <p>Email: {{vm.user.email}}</p>
      <p>Created at: {{vm.user.created_at | date:'medium'}}</p>
    </div>
</div>
