<div ng-controller="AuthCtrl as vm">
    <form class="form-login" name="form" ng-submit="vm.submitForm(form)" novalidate>
        <!-- Login field -->
        <div \>
            <label class="sr-only" for="email"></label>
            <div class="input-group">
                <input class="form-control sq-input" type="email" name="email" id="email" ng-model="vm.model.email">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>
            <span class="error-msg"></span>
        </div>

        <div>
            <label class="sr-only" for="password"></label>
            <div class="input-group">
                <input class="form-control sq-input" type="password" name="password" id="password" ng-model="vm.model.password">
                <span class="input-group-addon"><i class="fa fa-password"></i></span>
            </div>
            <span class="error-msg"></span>
        </div>

        <div class="text-center">
            <button class="btn btn-primary login" type="submit" ng-disabled="vm.processing">Отправить</button>
        </div>
    </form>
</div>
