<nav class="navbar navbar-default" ng-controller="MenuCtrl as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button ng-click="vm.menu_open=!vm.menu_open" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <i class="fa" ng-class="{ ' fa-arrow-down': !vm.menu_open , ' fa-arrow-up': vm.menu_open}"></i>

            </button>
            <a class="navbar-brand" ui-sref="main.home">{{ appName }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="main.test">Test <span class="sr-only">(current)</span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="vm.signed_in"><a ui-sref="main.login">Войти</a></li>
                <li ng-if="vm.signed_in"><a>{{vm.user.email}}</a></li>
                <li ng-if="vm.signed_in" ng-click="vm.logout()"><a>Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>
