<div class="container-fluid" >
  <div class="panel panel-success">
    <div class="panel-heading">
    </div>
    <div class="panel-body" ng-controller = 'MainCtrl'>
      <h1 ng-if="name">Hello, {{name}}</h1>
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
</div>