<!DOCTYPE html>
<html ng-app="application">
<head>
  <title>RailsAngular</title>
  <base href="<%= root_path %>">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var applicationConfig = {
      apiBase: '<%= root_path %>api/',
    };
  </script>
</head>
<body >
  <div class="wrapper" ui-view></div>
</body>
</html>
